page-home {
.header div.toolbar-title.toolbar-title-md{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
display: flex;
justify-content: center;
align-items: center;
}

}
